* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Libre Franklin', sans-serif;
}

input {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	border: 3px solid #ffdb96;
	border-radius: 6px;
	padding: 10px 15px;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1rem;
	transition: .4s;
}

input:focus { border: 3px solid #ffc24d; }

img {
	vertical-align: middle; /* Remove bottom space */
	width: 45%;
	margin: 2.5%;
	border-radius: 3px;
}

.wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px) {

	body {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	input {
		width: 45%;
		padding: 15px 20px;
		font-size: 1.2rem;
	}

	img { width: 20%; }

	.wrapper { width: 80%; }
}
