body {
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Libre Franklin', sans-serif;
}

input {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	border: 3px solid #ffdb96;
	border-radius: 6px;
	padding: 10px 15px;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1rem;
	transition: .4s;
}

input:focus { border: 3px solid #ffc24d; }

img:not(.chocolat-img) {
	vertical-align: middle; /* Remove bottom space */
	width: 45%;
	margin: 2.5%;
	border-radius: 3px;
}

.wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px) {

	body {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	input {
		width: 45%;
		padding: 15px 20px;
		font-size: 1.2rem;
	}

	img:not(.chocolat-img) { width: 20%; }

	.wrapper { width: 80%; }
}

/* Chocolat plugin */

.chocolat-overlay {
background-color:#000;
opacity: .9;
}

.chocolat-img { border-radius: 3px; }

.chocolat-wrapper .chocolat-description {
	float: none;
	width: 80%;
}

.chocolat-wrapper .chocolat-set-title,
.chocolat-wrapper .chocolat-pagination,
.chocolat-wrapper .chocolat-fullscreen { display: none; }

.chocolat-wrapper .chocolat-bottom {
	height: auto;
	bottom: 20vh;
	background: none;
	text-align: center;
	line-height: 20px;
}

@media (min-width: 600px) {

	.chocolat-wrapper .chocolat-bottom { bottom: 5vh; }
}

@media (min-width: 768px) {

	.chocolat-wrapper .chocolat-left { left: 5%; }

	.chocolat-wrapper .chocolat-right { right: 5%; }

	.chocolat-wrapper .chocolat-bottom { bottom: 10px; }

	.chocolat-wrapper .chocolat-description { width: 600px; }
}
